.home{
    height: 600px;
    background-color: thistle;
}
.home2{
    height: 600px;
    background-color: thistle;
}
/* .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px auto;
}

.cardd {
   
    width: 500px;

    margin: auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    padding: 2rem 4rem;
    border-radius: 30px;
}

.cardd img {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
}

.cardd h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.cardd h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Hachi Maru Pop', cursive;
}

.cardd button {
    padding: 15px 20px;
    margin-bottom: 30px;
    background-color: #ea4c89;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.cardd a {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 1068px) {

    .home {
        
        grid-template-columns: 1fr;
    }

    .cardd {
        margin-bottom: 40px;
    }
  
  }

  @media only screen and (max-width: 590px) {

    .cardd h2 {
        font-size: 18px;
    }

    .cardd h3 {
        font-size: 10px;
    }

    .cardd {
        width: 500px;
    }
  
  } */