@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
.about{
    background-color: black;
}
.aboutbar{
    background-color: wheat;
    font-size: 10rem;
    padding: 15rem;
}
.abouttable{
    text-align: center;
    font-size: 2rem;
    background-color: rgb(250, 250, 250);
}
table, th,td{
    width: 60%;
    border: 1px solid black;
    padding: 2rem;
}
.aboutpara{
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    background-color: thistle;
    padding: 13rem;
}
.parallel{
    display: flex;
    margin: 5rem;
}