html {
        
    font-size: 60%; 
    
}
.contact{
    background-color: tomato;
    display: flex;
}

.info{
    color: white;
    width: 33.33333%;
    padding: 3rem;
    text-align: center;
    
    background-color: black;
}
.infopart{
    padding: 3rem;
}
@media  (max-width: 700px) {
    .contact{
        display: flex;
        flex-direction: column;
    }
    .info{
        width: 100%;
    }

    html {
        
        font-size: 30%; 
        
    }}